@CHARSET "UTF-8";

body {
	background-color: #FFFFFF;
	display: block;
    margin: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}
.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
.errorMessagesLogin {
	text-align:center;
	color: red;
}
input.button{
	cursor:pointer;


}
input.button:hover {

    /* 背景色を明るい青色に指定 */

    background-color: #c0c0c0;


    /* 文字色を白色に指定


    color: #fff;

    */



}

div.tables {
	margin-left:auto;
 	margin-right:auto;
	table-layout:fixed;


	/*

    border-bottom: solid 1px #666;

    background: #f5f5f5;
    */

}
span.user-button{
	float:right;
	text-align:right;
}
table.table{
	margin: 0 auto;
    width: 650px;
    border: none;

    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;

    border-collapse: separate;
    border-spacing: 0 0px;
    background: #ffffff;

    box-shadow: 0px 1px 10px #666;



}
td.contents{
	border-top:solid 1px #878787;
	border-bottom:solid 1px #878787;
}
td.subject{
	border-bottom:none;
}
td.comment{
	border-top:none;
	border-bottom:1px dashed  #c0c0c0;

}
td.comment-post{
	border-top:none;

}
.comment-area{
	margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
span.user{
	font-size:large;
	font-weight:800;
}
span.insert{
	font-size:large;
	font-weight:800;
}
span.category{
	font-size:large;
	font-weight:800;
}


div.subject{
	width:900px;
	font-size:x-large;
	font-weight:bold;
	 margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    padding: 8px 15px;
}

div.text{
	margin-left:16px;
	padding: 8px 15px;
}

.postInfo{
	margin-right: 3px;
	margin-left: 32px;
    /*
    position:relative;
	left:160px;
	*/

	float:left;

}

.deleteButton{

    text-align:right;

}
.commentInfo{
	font-weight:bold;
	text-align:right;
	text-align:bottom;
	margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    left: 400px;

	float:left;

}
.login{
	text-align:center;
}

.commentText{
	position: relative;
    left: 300px;
    margin-left:0px;
}

.commentDeleteButton{
    text-align:right;
	bottom:4px;
}
.comment-area{
	margin-left:16px;
	padding: 8px 15px;
}
.postCommentButton{
	text-align:right;
}
td.comment-post{

}


.postCommentTitle{
	vertical-align:top;
}

table.user-table{
	border: 1px solid #006699;
  	color: #000;
  	table-layout:fixed;
  	border-spacing: 1px;


}
table.user-table tr td{
	padding: 8px 15px;

}
th.id{
	width:192px
}
th.name{
	width:240px
}
th.option{

	width:104px;
}
th{
	background-color: #003366;
  color: #edf6f9;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
td.row{
	background-color: #cad9ea;
 	color: #000;
}
td.row-option{
	text-align:center;
	background-color: #cad9ea;
	text-align:center;
}
td.row-button{
	text-align:center;
	background-color: #cad9ea;
 	color: #000;
}
td.row-left{
	text-align:right;
}
td.row-left-special{
	text-align:right;
	vertical-align:top;
}
td.submit-button{
	text-align:center;
}
td.putting-button{
	text-align:right;
}
td.row-search{
	text-align:center;
}


.header {

}







/*
body {
	background-color: #E3FFFF;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}


*/